#############################################
#            应用配置文件（开发环境）           #
#    https://www.renfei.net 极速版           #
#    author: RenFei(i@renfei.net)           #
#    Copyright © 2020 RENFEI.NET            #
#############################################

# Spring ####################################
spring:
  ## 数据库配置
  datasource:
    primary:
      jdbc-url: jdbc:mysql://127.0.0.1/renfei?useUnicode=true&characterEncoding=utf8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: root
      password: root
    discuz:
      jdbc-url: jdbc:mysql://127.0.0.1/discuz?useUnicode=true&characterEncoding=utf8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: root
      password: root
  elasticsearch:
    rest:
      uris: http://localhost:9200
  ## Redis 配置
  redis:
    ## Redis数据库索引（默认为0）
    database: 0
    host: 127.0.0.1
    port: 6379
    password:
  mail:
    host: <host>
    port: 465
    username: no-reply@renfei.net
    password: <password>
    protocol: smtp
    default-encoding: UTF-8
    reply-to: i@renfei.net
    properties:
      mail.smtp.localhost: renfei.net
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
      mail.smtp.socketFactory.port: 465
      mail.smtp.socketFactory.class: javax.net.ssl.SSLSocketFactory
      mail.smtp.socketFactory.fallback: false
    jndi-name: mail/Session
  freemarker:
    cache: false
    settings:
      template_update_delay: 0
# 自定义配置 #####################################
renfei:
  active: dev
  version: @project.version@
  siteName: 任霏的博客
  domain: http://localhost:8099
  staticDomain: https://cdn.renfei.net
  ipv4DataPath: /opt/RenFeiNet/IPDATA.BIN
  ipv6DataPath: /opt/RenFeiNet/IPDATA.IPV6.BIN
  buildTime: @buildtimestamp@
  totpSecret: <totpSecret>
  authMode: SESSION
  dataCahe:
    ## 设置缓存有效期 秒，2小时
    expireTime: 7200
  aliyun:
    accessKeyId: <accessKeyId>
    accessKeySecret: <accessKeySecret>
    oss:
      endpoint: http://oss-cn-hangzhou.aliyuncs.com
      bucketName: renfei
      downloadBucketName: down-renfei
      downloadHost: https://download.renfei.net
    green:
      regionId: cn-beijing
    sms:
      regionId: cn-hangzhou
      signName: 任霏博客
      templateCode: SMS_205876298
  baidu:
    tongji: <tongji>
  google:
    analytics: <analytics>
    ads: google.com, pub-8859756463807757, DIRECT, f08c47fec0942fa0
    reCAPTCHA:
      clientKey: 6Le3eAsaAAAAAJ5P-m7D9tCEZbu2WLpKRoS6_Lw5
      serverKey: 6Le3eAsaAAAAAMUFrytHPgKkMlLeWR7s1YAFrOMW
  weChat:
    appId: <appId>
    appSecret: <appSecret>
    token: <token>
    encodingAESKey: <encodingAESKey>
  jwt:
    secret: zL4pC7mP4vH4nY2cK1kE6lC3bJ0yC5wI4kB0kZ2wK4tW3nQ9vP1hO6vZ5jA7wP7ulN6vY3mQ7uI5wU5sE6yP0hP6pK0tF5tT1oO0nO2mL4nO8uP3kJ3rV3iJ4aD5iB5h
    issuer: RENFEI.NET
    expiration: 28800000
  uCenter:
    api: https://bbs.renfei.net/uc_server
    key: <key>
    appId: 3
    connect:
  cloudflare:
    apiToken: XQDf-8F4lEC0QRzELIv7cMFAiijnbF73V2eig2dD
  letsEncrypt:
    email: i@renfei.net
    dirPath: /Users/renfei/Downloads/letsencrypt