<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.repository.GoMapDOMapper">
    <resultMap id="BaseResultMap" type="net.renfei.repository.entity.GoMapDO">
        <id column="code" jdbcType="VARCHAR" property="code"/>
        <result column="to_url" jdbcType="VARCHAR" property="toUrl"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        code
        , to_url, is_delete
    </sql>
    <select id="selectByExample" parameterType="net.renfei.repository.entity.GoMapDOExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_go_map
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_go_map
        where code = #{code,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from t_go_map
        where code = #{code,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="net.renfei.repository.entity.GoMapDOExample">
        delete from t_go_map
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="net.renfei.repository.entity.GoMapDO">
        insert into t_go_map (code, to_url, is_delete)
        values (#{code,jdbcType=VARCHAR}, #{toUrl,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="net.renfei.repository.entity.GoMapDO">
        insert into t_go_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="toUrl != null">
                to_url,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="toUrl != null">
                #{toUrl,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="net.renfei.repository.entity.GoMapDOExample" resultType="java.lang.Long">
        select count(*) from t_go_map
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_go_map
        <set>
            <if test="record.code != null">
                code = #{record.code,jdbcType=VARCHAR},
            </if>
            <if test="record.toUrl != null">
                to_url = #{record.toUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.isDelete != null">
                is_delete = #{record.isDelete,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_go_map
        set code = #{record.code,jdbcType=VARCHAR},
        to_url = #{record.toUrl,jdbcType=VARCHAR},
        is_delete = #{record.isDelete,jdbcType=BIT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="net.renfei.repository.entity.GoMapDO">
        update t_go_map
        <set>
            <if test="toUrl != null">
                to_url = #{toUrl,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
        </set>
        where code = #{code,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="net.renfei.repository.entity.GoMapDO">
        update t_go_map
        set to_url    = #{toUrl,jdbcType=VARCHAR},
            is_delete = #{isDelete,jdbcType=BIT}
        where code = #{code,jdbcType=VARCHAR}
    </update>
</mapper>